.content-albuns-div{
    display: flex;
    flex-wrap: wrap
}

.content-albuns__title{
    padding-top: 50px;
    padding-bottom: 20px;
}

.content-albuns-div_1, .content-albuns-div_2, .content-albuns-div_3{
    background-color: var(--gray-7);
    margin-right: 23px;
    margin-bottom: 23px;
}

.content-albuns-div_1-div, .content-albuns-div_2-div, .content-albuns-div_3-div{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    padding-right: 30px;
}

.content-albuns-div_1-div__button, .content-albuns-div_2-div__button, .content-albuns-div_3-div__button{
    background-color: var(--brand-2);
    border: var(--brand-2);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 7px 5px;
    cursor: pointer;
}

.content-albuns-div_1-div__button:hover, .content-albuns-div_2-div__button:hover, .content-albuns-div_3-div__button:hover{
    background-color: var(--brand-1);
}

.content-albuns-div_1__figure-img, .content-albuns-div_2__figure-img, .content-albuns-div_3__figure-img{
    width: 308px;
    height: 290px;
}