.content-albuns__title{
    padding-top: 50px;
    padding-bottom: 20px;
}

.content-albuns-div{
    display: flex;
    flex-wrap: wrap
}

.album-card {
    background-color: var(--gray-7);
    border-radius: 5px;
    margin-right: 23px;
    margin-bottom: 23px;
    width: 308px;
    height: 455px;
}

.album-card img{
    width: 308px;
    height: 290px;
}

.album-card h3{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 7px;
}

.album-card__div, .album-card__div2{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}
  
.album-card button{
    background-color: var(--brand-2);
    border: var(--brand-2);
    border-radius: 3px;
    color: rgb(255, 255, 255);
    padding: 7px 5px;
    cursor: pointer;
}

.album-card button:hover{
    background-color: var(--brand-1);
}
