@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Young+Serif&display=swap');
@import url('./reset.css');
@import url('./header.css');
@import url('./genres.css');
@import url('./albums.css');
@import url('./price-range.css');

body{
    font-family: "Inter", sans-serif;
    background-color: var(--gray-8);
    width: 1024px;
}

body.dark-mode {
    --gray-2: #f8f9fa;
    --gray-3: #f1f3f5;
    --gray-5: #CED4DA;
    --gray-6: #212529;
    --gray-7: #212529;
    --gray-8: #15171A;
}

h1{
    font-weight: 600;
    font-size: 40px;
    color: var(--gray-2);
}

h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--gray-2);
}

h3{
    font-size: 22px;
    font-weight: 600;
    color: var(--gray-2);
}

h4{
    font-size: 19.2px;
    font-weight: 600;
    color: var(--gray-2);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--gray-3);
}

:root{
    --brand-1: #6f00ff;
    --brand-2: #8629FF;
    --gray-1: #15171A;
    --gray-2: #212529;
    --gray-3: #2b2f33;
    --gray-4: #CED4DA;
    --gray-5: #dee2e6;
    --gray-6: #f1f3f5;
    --gray-7: #f8f9fa;
    --gray-8: #fdfeff;
}